.heading {
  width: 100%;
}

.heading h1,
.heading h2,
.heading h3,
.heading h4,
.heading h5,
.heading h6 {
  margin: 0;
  font-family: Noto-regional, Noto-latin, TCCC-UnityText, sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -1.5px;
  color: rgb(0, 0, 0);
  display: block;
  direction: ltr;
}

.heading-left {
  text-align: left;
}

.heading-center {
  text-align: center;
}

@media (max-width: 768px) {
  .heading h1,
  .heading h2,
  .heading h3,
  .heading h4,
  .heading h5,
  .heading h6 {
    font-size: 31px;
  }
}